%h3 My Appointments

- @appointments.each do |appointment|
  .row
    .col-sm-6.col-xs-12
      =link_to appointment.partner.name, user_appointment_path(id:appointment.id)
      %em="#{appointment.partner.city}, #{appointment.partner.state} #{appointment.partner.zip_code}"
    .col-sm-3.col-xs-12
      %strong=appointment.date.strftime("%m/%d/%Y at %I:%M%P")
    .col-sm-3.col-xs-12
      = link_to edit_user_appointment_path(id:appointment.id) do
        %i.fa.fa-pencil-square-o
        Edit
      &nbsp;
      = link_to user_appointment_path(id: appointment.id, partner_id: appointment.partner.id), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        %i.fa.fa-trash-o
        Delete
  %hr/
%br/
= link_to 'New Appointment', new_user_appointment_path, class: 'btn btn-default'
