="Hi #{@appointment.partner.name},"
="Please prepare an ensemble/look for #{@appointment.user.name} using the following preferences:"
\
Appointment Details:
\

-if @appointment_item.present?
  -@appointment_item.item_type_code.each do |item_type|
    -if ItemTypeConstants.find_by_code(item_type) == ItemTypeConstants::JEANS
      ="Jeans style: #{@appointment_item.jeans_style}" if @appointment_item.jeans_style.present?
      ="Jeans size(s): #{@appointment_item.jeans_size.join(', ')}" if @appointment_item.jeans_size.present?
    -elsif ItemTypeConstants.find_by_code(item_type) == ItemTypeConstants::SHOES
      ="Shoe style: #{@appointment_item.shoes_style}" if @appointment_item.shoes_style.present?
      ="Shoe size: #{@appointment_item.shoes_size}" if @appointment_item.shoes_size.present?

-if @size.present?
  \
  ="Neck: #{@size.neck}inches" if @size.neck.present?
  ="Chest: #{@size.chest}inches" if @size.chest.present?
  ="Sleeve: #{@size.sleeve}inches" if @size.sleeve.present?
  ="Bust: #{@size.bust}inches" if @size.bust.present?
  ="Waist: #{@size.waist}inches" if @size.waist.present?
  ="Hips: #{@size.hips}inches" if @size.hips.present?
  ="Inseam: #{@size.inseam}inches" if @size.inseam.present?
  ="Height: #{@size.height}inches" if @size.height.present?
  ="Weight: #{@size.weight}lbs" if @size.weight.present?

-if @appointment.budget.present?
  \
  Budget:
  =BudgetConstants.find_by_code(@appointment.budget)[:name]

\
\
Additional Notes:
=@appointment.notes
\
\
="Expected arrival at your store is #{localize(@appointment.date, format: '%m/%d/%Y at %I:%M %P')}"
\
\
Thank you,
The SnazzDat Team