#sd-navigation.navbar.navbar-fixed-top.navbar-inverse
  .container
    %button.navbar-toggle{type:'button', data:{toggle:'collapse', target:'.navbar-responsive-collapse'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "SNAZZDAT", root_path, :class => 'navbar-brand'
    .nav-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
        - else
          %li
            = link_to 'Login', new_user_session_path
        - if user_signed_in?
          %li
            = link_to 'Edit account', edit_user_registration_path
        - else
          -#  %li
            = link_to 'Sign up', new_user_registration_path
